auto-install-peers=true
enable-pre-post-scripts=true
engine-strict=true
node-version=^20.11.0
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*eslint*
ignore-engine-strict[]=concurrently
ignore-engine-strict[]=postcss-import
ignore-engine-strict[]=cross-env